xml/rutas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.uniovi.es"
           targetNamespace="http://www.uniovi.es">

    <xs:element name="rutas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ruta" minOccurs="3" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ruta">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre"/>
                <xs:element ref="tipo"/>
                <xs:element ref="transporte"/>
                <xs:element ref="fechaInicio" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="horaInicio" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="duracion"/>
                <xs:element ref="agencia"/>
                <xs:element ref="descripcion"/>
                <xs:element ref="personas"/>
                <xs:element ref="lugarInicio"/>
                <xs:element ref="direccionInicio"/>
                <xs:element ref="coordenadasInicio"/>
                <xs:element ref="referencias"/>
                <xs:element ref="recomendacion"/>
                <xs:element ref="hitos"/>
                <xs:element ref="planimetria"/>
                <xs:element ref="altimetria"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="nombre" type="xs:string"/>
    <xs:element name="tipo" type="xs:string"/>
    <xs:element name="transporte" type="xs:string"/>

    <!-- fechaInicio cambiado a tipo date -->
    <xs:element name="fechaInicio" type="xs:date"/>

    <!-- horaInicio cambiado a tipo time -->
    <xs:element name="horaInicio" type="xs:time"/>

    <xs:element name="duracion" type="xs:string"/>
    <xs:element name="agencia" type="xs:string"/>
    <xs:element name="descripcion" type="xs:string"/>
    <xs:element name="personas" type="xs:string"/>
    <xs:element name="lugarInicio" type="xs:string"/>
    <xs:element name="direccionInicio" type="xs:string"/>

    <xs:element name="coordenadasInicio">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="longitud"/>
                <xs:element ref="latitud"/>
                <xs:element ref="altitud"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- longitud cambiado a tipo float -->
    <xs:element name="longitud">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float"> <!-- cambiado -->
                    <xs:attribute name="unidad" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- latitud cambiado a tipo float -->
    <xs:element name="latitud">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float"> <!-- cambiado -->
                    <xs:attribute name="unidad" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- altitud cambiado a tipo float con restriccion mayor o igual que 0 -->
    <xs:simpleType name="AltitudValor">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/> <!-- restriccion añadida -->
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="altitud">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="AltitudValor">
                    <xs:attribute name="unidad" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="m"/> <!-- restriccion añadida -->
                                <xs:enumeration value="ft"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="referencias">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="referencia" minOccurs="3" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="referencia">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="tipo" type="xs:string" use="required"/>
                    <xs:attribute name="url" type="xs:anyURI" use="required"/> <!-- cambiado -->
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- recomendacion cambiado a tipo integer con restriccion entre 0 y 10 -->
    <xs:element name="recomendacion">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0"/> <!-- restriccion añadida -->
                <xs:maxInclusive value="10"/> <!-- restriccion añadida -->
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="hitos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="hito" minOccurs="5" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="hito">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombreHito"/>
                <xs:element ref="descripcionHito"/>
                <xs:element ref="coordenadasHito"/>
                <xs:element ref="distanciaAnterior"/>
                <xs:element ref="galeriaFotos"/>
                <xs:element ref="galeriaVideos" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="nombreHito" type="xs:string"/>
    <xs:element name="descripcionHito" type="xs:string"/>

    <xs:element name="coordenadasHito">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="longitud"/>
                <xs:element ref="latitud"/>
                <xs:element ref="altitud"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- distanciaAnterior cambiado a tipo float -->
    <xs:element name="distanciaAnterior">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float"> <!-- cambiado -->
                    <xs:attribute name="unidad" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="galeriaFotos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="foto" minOccurs="1" maxOccurs="5"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="foto">
        <xs:complexType>
            <xs:attribute name="archivo" type="xs:string" use="required"/>
            <xs:attribute name="titulo" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="galeriaVideos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="video" minOccurs="1" maxOccurs="3"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="video">
        <xs:complexType>
            <xs:attribute name="archivo" type="xs:string" use="required"/>
            <xs:attribute name="titulo" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="planimetria" type="xs:string"/>
    <xs:element name="altimetria" type="xs:string"/>

</xs:schema>